appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
CacheControl==0.14.1
Django==4.2.16
django-allauth==65.1.0
django-mongoengine==0.5.6
django-restframework==0.0.1
djangorestframework==3.15.2
dnspython==2.7.0
railway==0.0.4
setuptools==75.1.0
sqlparse==0.5.1
telebot==0.0.5
uritemplate==4.1.1
wheel==0.44.0
whitenoise==6.7.0